<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="mat-elevation-z1">
      <mat-icon>filter_alt</mat-icon>
    </div>
    <mat-card-title>Add new Expense type</mat-card-title>
    <mat-card-subtitle>You can filter your expenses in your wallet by expense types</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <mw-expense-types-editor></mw-expense-types-editor>

  </mat-card-content>
</mat-card>
