<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="mat-elevation-z1">
      <mat-icon>login</mat-icon>
    </div>
    <mat-card-title>Log In</mat-card-title>
    <mat-card-subtitle>Sign in before you start using your wallet.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <mw-login-form></mw-login-form>

  </mat-card-content>
</mat-card>
