<mat-list role="list">
  <mat-list-item role="listitem" routerLink="/wallet">
      <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
      <div mat-line>Wallet</div>
  </mat-list-item>
  <mat-list-item role="listitem" routerLink="/expense-types">
    <mat-icon mat-list-icon>filter_alt</mat-icon>
    <div mat-line>Types of expenses</div>
  </mat-list-item>
</mat-list>
