<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div>
    <mat-form-field>
      <input placeholder="E-mail" type="text"
             formControlName="email" matInput>
      <mat-error>Your e-mail is missing.</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input placeholder="Password" type="text"
             formControlName="password" matInput>
      <mat-error>Enter your password</mat-error>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="accent" type="submit">Log in</button>
    <button routerLink="/sign/up" mat-button type="button">Don't have account?</button>
  </div>
</form>
