<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="mat-elevation-z1">
      <mat-icon>storefront</mat-icon>
    </div>
    <mat-card-title>Add new transaction</mat-card-title>
    <mat-card-subtitle>Fill important information and save the new transaction.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <mw-transaction-editor></mw-transaction-editor>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button>ADD</button>
  </mat-card-actions>
</mat-card>
