<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div>
    <mat-form-field>
      <input placeholder="Transaction name" type="text"
             formControlName="name" matInput>
      <mat-error>Enter the name of the expense type</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input placeholder="Color for expense type" type="text"
             formControlName="color" matInput>
      <mat-error>Enter the color for expense type</mat-error>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="accent" type="submit">Save</button>
  </div>
</form>
