<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div>
    <mat-form-field>
      <input placeholder="First Name" type="text"
             formControlName="firstName" matInput>
      <mat-error>Your firstname is missing.</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input placeholder="Last Name" type="text"
             formControlName="lastName" matInput>
      <mat-error>Your lastname is missing.</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input placeholder="E-mail" type="text"
             formControlName="email" matInput>
      <mat-error>Your e-mail is missing.</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input placeholder="Password" type="text"
             formControlName="password" matInput>
      <mat-error>Select your password</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input placeholder="Confirm password" type="text"
             formControlName="passwordAgain" matInput>
      <mat-error>Enter your selected password again</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Select your date of birth</mat-label>
      <input formControlName="dateOfBirth" matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Enter you date of birth</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-checkbox formControlName="agreement">Agree to Terms and Conditions.</mat-checkbox>
  </div>
  <br>
  <div>
    <button mat-raised-button color="accent" type="submit">Sign Up</button>
    <button routerLink="/sign/in" mat-button type="button">Already registered</button>
  </div>
</form>
