<div class="user-tile">
  <div class="avatar"></div>
  <div class="user-info">
    <div *ngIf="userDetail">
      <div class="name" mat-line>{{userDetail.firstName}} {{userDetail.lastName}}</div>
      <div class="email" mat-line>{{userDetail.email}}</div>
    </div>
    <div>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>tune</mat-icon>
          <span>Nastavení účtu</span>
        </button>
        <button mat-menu-item>
          <mat-icon>login</mat-icon>
          <span>Odhlásit</span>
        </button>
      </mat-menu>
    </div>

  </div>
</div>
