.user-tile {
  padding: 15px;
  border-bottom: 2px solid #e6e6e6;

  .avatar {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #888888;
    margin-bottom: 25px;
  }

  .name {
    font-weight: 500;
    font-size: 18px;
  }

  .email {
    color: #888888;
  }

  .user-info {
    display: flex;
    justify-content: space-between;
  }
}
