<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div>
    <mat-form-field>
      <input placeholder="Transaction name" type="text"
             formControlName="name" matInput>
      <mat-error>Enter the name of transaction</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input placeholder="Amount" type="text"
             formControlName="amount" matInput>
      <mat-error>Enter the amount</mat-error>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="accent" type="submit">Save</button>
  </div>
</form>
