<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="mat-elevation-z1">
      <mat-icon>filter_alt</mat-icon>
    </div>
    <mat-card-title>Wallet overview</mat-card-title>
    <mat-card-subtitle>There you can see all incomes and expenses.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

      <mw-expense-types-list></mw-expense-types-list>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/expense-types/add-expense-type">ADD</button>
  </mat-card-actions>
</mat-card>
