<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="mat-elevation-z1">
      <mat-icon>person_add</mat-icon>
    </div>
    <mat-card-title>Sign up</mat-card-title>
    <mat-card-subtitle>Sign up before you start using your wallet.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <mw-sign-up-form></mw-sign-up-form>

  </mat-card-content>
</mat-card>
