<mat-toolbar color="primary">
  <button *ngIf="isAuth$ | async" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Wallet</span>
  <span class="example-spacer"></span>
  <button *ngIf="isAuth$ | async" (click)="logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="false">
    <mw-user-tile></mw-user-tile>
    <mw-navigation></mw-navigation>
  </mat-drawer>

  <div class="main-content">
    <ng-content></ng-content>
  </div>

</mat-drawer-container>
