mat-drawer {
  width: 230px;
}

mat-drawer-container {
  height: calc(100vh - 64px);
}

.example-spacer {
  flex: 1 1 auto;
}

.main-content {
  padding: 50px 200px;

  @media screen and (max-width: 1200px) {
    padding: 30px 30px;

  }
}
