<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="mat-elevation-z1">
      <mat-icon>storefront</mat-icon>
    </div>
    <mat-card-title>Wallet overview</mat-card-title>
    <mat-card-subtitle>There you can see all incomes and expenses.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <mw-transaction-table></mw-transaction-table>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/wallet/add-transaction">ADD</button>
  </mat-card-actions>
</mat-card>
