/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card {
  padding: 0 !important;
}

mat-card-header, mat-card-content, mat-card-actions {
  padding: 16px !important;
}

mat-card-header {
  background-color: #f7f7f7;
}

mat-drawer-content {
  background-color: #fafafa;
}

mat-card-subtitle {
  margin-bottom: 0 !important;
}

.mat-card-avatar {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #ffffff !important;
}

mat-card-content {
  margin-bottom: 0!important;
}
